/* reset styles */

/* base styles */
html {
    font-size: 16px;
}
body {
    font-family: 'papyrus', fantasy; 
    background-color: #ffffff; 
    color: #3d3d3d; 
    line-height: 1.6; 
}
main {
    width: 80%; 
    margin: 0 auto;
    padding: 20px;
}
form {
    background-color: #f2f2f2d3; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
h1 {
    font-size: 2.5em; 
    margin-bottom: 20px;
}
p {
    margin-bottom: 10px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="email"],
input[type="checkbox"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #ffffff; /* input fields */
    border: 1px solid #cccccc; /* grey border */
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em; 
}

input[type="submit"] {
    background-color: #27272732; /* black/grey button */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    /* hover */
}

input[type="submit"]:hover {
    background-color: #666666; 
    /* grey hover */
}
